@using Scrummy.Application.Web.MVC.ViewModels.Project
@model ViewBacklogViewModel

@{
    ViewData["Title"] = "Backlog of " + Model.Project.Text;
    string TypeToUserType(string s)
    {
        if (s == "UserStory") return "User Story";
        return s;
    }
}

<div class="row">
    <div class="col-xs-2">
        <h2>Actions</h2> <hr />
        <a asp-area="" class="btn btn-default actionButton" asp-action="ManageBacklog" asp-controller="Project" asp-route-id="@Model.Project.Id">Manage backlog</a>
        @if (Model.Flavor == ViewBacklogViewModel.BacklogFlavor.Backlog)
        {
            <a asp-action="Backlog" class="btn btn-default actionButton" asp-route-id="@Model.Project.Id" asp-route-flavor="Done">View completed</a>
        }
        else
        {
            <a asp-action="Backlog" class="btn btn-default actionButton" asp-route-id="@Model.Project.Id" asp-route-flavor="Backlog">View backlog</a>
        }
        <h3>Create</h3> <hr />
        <a asp-area="" class="btn btn-default actionButton" asp-action="Create" asp-controller="WorkTask" asp-route-id="@Model.Project.Id" asp-route-type="Epic">Create Epic</a>
        <a asp-area="" class="btn btn-default actionButton" asp-action="Create" asp-controller="WorkTask" asp-route-id="@Model.Project.Id" asp-route-type="UserStory">Create Story</a>
        <a asp-area="" class="btn btn-default actionButton" asp-action="Create" asp-controller="WorkTask" asp-route-id="@Model.Project.Id" asp-route-type="Task">Create Task</a>
        <a asp-area="" class="btn btn-default actionButton" asp-action="Create" asp-controller="WorkTask" asp-route-id="@Model.Project.Id" asp-route-type="Defect">Create Defect</a>
    </div>
    <div class="col-xs-10">
        @if (Model.Flavor == ViewBacklogViewModel.BacklogFlavor.Backlog)
        {
            <h2>Backlog of @Model.Project.Text</h2> <hr />
        }
        else
        {
            <h2>Completed tasks of @Model.Project.Text</h2> <hr />
        }
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Type</th>
                        <th>Story Points</th>
                        @if (Model.Flavor == ViewBacklogViewModel.BacklogFlavor.Backlog)
                        {
                            <th>Status</th>
                        }
                        <th>Parent</th>
                        <th class="actionColumn"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var t in Model.Tasks)
                    {
                        <tr>
                            <td>
                                @t.Name
                            </td>
                            <td>
                                @TypeToUserType(t.Type)
                            </td>
                            <td>
                                @t.StoryPoints
                            </td>
                            @if (Model.Flavor == ViewBacklogViewModel.BacklogFlavor.Backlog)
                            {
                                <td>
                                    @t.Status
                                </td>
                            }
                            <td>
                                @if (t.ParentTask != null)
                                {
                                    <a asp-area="" asp-action="Index" asp-controller="WorkTask" asp-route-id="@t.ParentTask.Id">@t.ParentTask.Text</a>
                                }
                            </td>
                            <td>
                                <a asp-area="" class="btn btn-default tableButton" asp-action="Index" asp-controller="WorkTask" asp-route-id="@t.Id">View</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>