@model Scrummy.Application.Web.MVC.ViewModels.Project.ViewProjectViewModel

@{
    ViewData["Title"] = @Model.Name;
}

<input type="hidden" id="deleteMessage" data-value="Are you sure you want to delete @Model.Name?" />
<input type="hidden" id="deleteUrl" data-value="/Project/Delete/@Model.Id" />

<div class="row">
    <div class="col-xs-2">
        <h2>Actions</h2> <hr />
        <a asp-action="Backlog" class="btn btn-default actionButton" asp-route-id="@Model.Id" asp-route-flavor="Backlog">Backlog</a>
        <a asp-action="Sprints" class="btn btn-default actionButton" asp-route-id="@Model.Id" asp-route-status="Planned">Sprints</a>
        <a asp-action="Meetings" class="btn btn-default actionButton" asp-route-id="@Model.Id">Meetings</a>
        <a asp-action="Reports" class="btn btn-default actionButton" asp-route-id="@Model.Id">Reports</a>
        <a asp-action="Edit" class="btn btn-default actionButton" asp-route-id="@Model.Id">Edit project</a>
        @if (Model.Sprint != null)
        {
            <a asp-action="End" class="btn btn-default actionButton" asp-controller="Sprint" asp-route-id="@Model.Sprint.Id">End sprint</a>
        }
        @if (Model.CanDelete)
        {
            <h3>Delete</h3> <hr />
            <button type="button" class="btn btn-danger actionButton" id="deleteBtn">Delete</button>
        }
    </div>
    <div class="col-xs-10">
        <h2>Project - @Model.Name</h2> <hr />
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Team)
                </dt>
                <dd>
                    <a asp-area="" asp-controller="Team" asp-action="Index" asp-route-id="@Model.Team.Id">@Model.Team.Text</a>
                </dd>
                @if (Model.Sprint != null)
                {
                    <dt>
                        @Html.DisplayNameFor(m => m.Sprint)
                    </dt>
                    <dd>
                        @Html.DisplayFor(m => m.Sprint.Name)
                    </dd>
                }
            </dl>
            <h5><b>Definition of Done</b></h5> <hr />
            <ul>
                @foreach (var condition in Model.DefinitionOfDone)
                {
                    <li>@condition</li>

                }
            </ul>
            @if (Model.Sprint != null)
            {
                <h3>Sprint</h3>
                <table class="table">
                    <tr id="tableHeader">
                        <th>Story</th>
                        <th>To Do</th>
                        <th>In Progress</th>
                        <th>Done</th>
                    </tr>
                    @foreach (var p in Model.Sprint.Stories)
                    {
                        <tr>
                            <td colspan="4">
                                <a asp-action="Index" asp-controller="WorkTask" asp-route-id="@p.Id">@p.Text (@p.StoryPoints)</a>
                            </td>
                        </tr>
                        foreach (var t in p.Transform())
                        {
                            <tr>
                                <td></td>
                                <td>
                                    @if (t.Item1 != null)
                                    {
                                        <a asp-action="Index" asp-controller="WorkTask" asp-route-id="@t.Item1.Id">@t.Item1.Text</a>
                                        <a asp-action="ChangeTaskStatus" asp-controller="Sprint" class="btn btn-default" asp-route-id="@Model.Sprint.Id" asp-route-taskId="@t.Item1.Id" asp-route-status="InProgress">&gt</a>
                                    }
                                </td>
                                <td>
                                    @if (t.Item2 != null)
                                    {
                                        <a asp-action="Index" asp-controller="WorkTask" asp-route-id="@t.Item2.Id">@t.Item2.Text</a>
                                        <a asp-action="ChangeTaskStatus" asp-controller="Sprint" class="btn btn-default" asp-route-id="@Model.Sprint.Id" asp-route-taskId="@t.Item2.Id" asp-route-status="ToDo">&lt</a>
                                        <a asp-action="ChangeTaskStatus" asp-controller="Sprint" class="btn btn-default" asp-route-id="@Model.Sprint.Id" asp-route-taskId="@t.Item2.Id" asp-route-status="Done">&gt</a>
                                    }
                                </td>
                                <td>
                                    @if (t.Item3 != null)
                                    {
                                        <a asp-action="Index" asp-controller="WorkTask" asp-route-id="@t.Item3.Id">@t.Item3.Text</a>
                                        <a asp-action="ChangeTaskStatus" asp-controller="Sprint" class="btn btn-default" asp-route-id="@Model.Sprint.Id" asp-route-taskId="@t.Item3.Id" asp-route-status="InProgress">&lt</a>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </table>
            }
        </div>
    </div>
</div>