@model Scrummy.Application.Web.MVC.ViewModels.Project.ViewMeetingsViewModel

@{
    ViewData["Title"] = "Meetings";
}

<div class="row">
    <div class="col-xs-2">
        <h2>Actions</h2> <hr />
        <a asp-area="" class="btn btn-default actionButton" asp-action="Create" asp-controller="Meeting" asp-route-id="@Model.Project.Id">Schedule meeting</a>
        <h3>Filter</h3> <hr/>
        <a asp-area="" class="btn btn-default actionButton" asp-action="List" asp-controller="Meeting" asp-route-id="@Model.Project.Id">All</a>
    </div>
    <div class="col-xs-10">
        <h2>Upcoming meetings - @Model.Project.Text</h2> <hr />
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Meeting</th>
                        <th>Time</th>
                        <th class="actionColumn" colspan="2"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var meeting in Model.UpcomingMeetings)
                    {
                        <tr>
                            <td>
                                @meeting.Text
                            </td>
                            <td>
                                @meeting.Time
                            </td>
                            <td>
                                <a asp-action="Edit" class="btn btn-default" asp-controller="Meeting" asp-route-id="@meeting.Id"><span class="glyphicon glyphicon-edit"></span></a>
                            </td>
                            <td>
                                <a asp-area="" class="btn btn-default" asp-action="Index" asp-controller="Meeting" asp-route-id="@meeting.Id"><span class="glyphicon glyphicon-option-horizontal"></span></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>