@model Scrummy.Application.Web.MVC.ViewModels.Project.ViewSprintsViewModel

@{
    ViewData["Title"] = "Sprints";
}

<div class="row">
    <div class="col-xs-2">
        <h2>Actions</h2> <hr />
        <a asp-area="" class="btn btn-default actionButton" asp-action="Create" asp-controller="Sprint" asp-route-id="@Model.Project.Id">Create</a>
        @if (Model.Type == "Planned")
        {
            <a asp-area="" class="btn btn-default actionButton" asp-action="Sprints" asp-controller="Project" asp-route-id="@Model.Project.Id" asp-route-status="Done">List completed</a>
        }
        else
        {
            <a asp-area="" class="btn btn-default actionButton" asp-action="Sprints" asp-controller="Project" asp-route-id="@Model.Project.Id" asp-route-status="Planned">List planned</a>
        }

    </div>
    <div class="col-xs-10">
        <h2>@Model.Type sprints - @Model.Project.Text</h2> <hr />
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Sprint</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        @if (Model.StartSprintAllowed)
                        {
                            <th class="actionColumn"></th>
                        }
                        <th class="actionColumn"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var sprint in Model.Sprints)
                    {
                        <tr>
                            <td>
                                @sprint.Text
                            </td>
                            <td>
                                @sprint.StartDate
                            </td>
                            <td>
                                @sprint.EndDate
                            </td>
                            @if (Model.StartSprintAllowed)
                            {
                                <td>
                                    <a asp-area="" class="btn btn-default tableButton" asp-action="StartSprint" asp-route-id="@sprint.Id">Start sprint</a>
                                </td>
                            }
                            <td>
                                <a asp-area="" class="btn btn-default tableButton" asp-action="Index" asp-controller="Sprint" asp-route-id="@sprint.Id">View</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>