@model Scrummy.Application.Web.MVC.ViewModels.Person.ViewCurrentWorkViewModel

@{
    ViewData["Title"] = "Current work";
}

<h2>Current work</h2> <hr />

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Project</th>
                <th class="actionColumn" colspan="4"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in Model.CurrentProjects)
            {
                <tr>
                    <td>
                        @project.Text
                    </td>
                    <td>
                        <a asp-action="Backlog" class="btn btn-default" asp-controller="Project" asp-route-id="@project.Id" asp-route-flavor="Backlog"><span class="glyphicon glyphicon-list"></span></a>
                    </td>
                    <td>
                        <a asp-action="Sprints" class="btn btn-default" asp-controller="Project" asp-route-id="@project.Id" asp-route-status="Planned"><span class="glyphicon glyphicon-calendar"></span></a>
                    </td>
                    <td>
                        <a asp-action="Meetings" class="btn btn-default" asp-controller="Project"  asp-route-id="@project.Id"><span class="glyphicon glyphicon-hourglass"></span></a>
                    </td>
                    <td>
                        <a asp-area="" class="btn btn-default" asp-action="Index" asp-controller="Project" asp-route-id="@project.Id"><span class="glyphicon glyphicon-option-horizontal"></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <table class="table">
        <thead>
            <tr>
                <th>Meeting</th>
                <th>Time</th>
                <th>Duration</th>
                <th class="actionColumn" colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var meeting in Model.UpcomingMeetings)
            {
                <tr>
                    <td>
                        @meeting.Text
                    </td>
                    <td>
                        @meeting.Time
                    </td>
                    <td>
                        @meeting.Duration
                    </td>
                    <td>
                        <a asp-action="Edit" class="btn btn-default" asp-controller="Meeting" asp-route-id="@meeting.Id"><span class="glyphicon glyphicon-edit"></span></a>
                    </td>
                    <td>
                        <a asp-area="" class="btn btn-default" asp-action="Index" asp-controller="Meeting" asp-route-id="@meeting.Id"><span class="glyphicon glyphicon-option-horizontal"></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
