@model Scrummy.Application.Web.MVC.ViewModels.Sprint.CreateSprintViewModel

@{
    ViewData["Title"] = "Create";
    string ToId(string key, int i) => $"{key}{i}";
}

<input type="hidden" id="storyOptions" data-value="@Html.Raw(string.Join("", Model.Stories.Select(x => Html.Encode($"<option value=\"{x.Value}\">{x.Text}</option>"))))" />
<input type="hidden" id="documentOptions" data-value="@Html.Raw(string.Join("", Model.Documents.Select(x => Html.Encode($"<option value=\"{x.Value}\">{x.Text}</option>"))))" />

<h2>Create sprint - @Model.Project.Text</h2><hr />
<div class="row">
    <div class="col-xs-10">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(x => x.Project.Id)
            @Html.HiddenFor(x => x.Project.Text)
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Goal" class="control-label"></label>
                <textarea asp-for="Goal" class="form-control"></textarea>
                <span asp-validation-for="Goal" class="text-danger"></span>
            </div>
            <h5><b>Planned stories</b></h5>
            <div class="form-group">
                <table class="table" id="storiesTable">
                    <thead>
                        <tr id="tableHeader">
                            <th>User Story</th>
                            <th colspan="3" class="actionColumn"><button class="btn btn-default" name="add"><span class="glyphicon glyphicon-plus"></span></button></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.SelectedStories.Length; i++)
                        {
                            <tr>
                                <td><select asp-for="SelectedStories[@i]" name="SelectedStories[]" id="@ToId("ss", i)" asp-items="Model.Stories" class="form-control"></select></td>
                                <td><button class="btn btn-default" name="up"><span class="glyphicon glyphicon-arrow-up"></span></button></td>
                                <td><button class="btn btn-default" name="down"><span class="glyphicon glyphicon-arrow-down"></span></button></td>
                                <td><button class="btn btn-default" name="del" onclick="remove_row(this)"><span class="glyphicon glyphicon-remove"></span></button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <h5><b>Documents</b></h5>
            <div class="form-group">
                <table class="table" id="documentTable">
                    <thead>
                        <tr>
                            <th>Document</th>
                            <th class="actionColumn"><button class="btn btn-default" name="add"><span class="glyphicon glyphicon-plus"></span></button></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.SelectedDocumentIds.Length; ++i)
                        {
                            <tr>
                                <td><select asp-for="SelectedDocumentIds[@i]" name="SelectedDocumentIds[]" id="@ToId("doc", i)" asp-items="Model.Documents" class="form-control"></select></td>
                                <td><button class="btn btn-default" name="del" onclick="remove_row(this)"><span class="glyphicon glyphicon-remove"></span></button></td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.ValidationMessage("Documents", htmlAttributes: new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    @for (var i = 0; i < Model.SelectedStories.Length; ++i)
    {
        @:document.getElementById("@ToId("ss", i)").value = "@Model.SelectedStories[i]";
    }
    @for (var i = 0; i < Model.SelectedDocumentIds.Count(); ++i)
    {
        @: document.getElementById("@ToId("doc", i)").value = "@Model.Documents[i]";
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
