@model Scrummy.Application.Web.MVC.ViewModels.WorkTask.CreateWorkTaskViewModel

@{
    ViewData["Title"] = "Create";
    string ToId(string key, int i) => $"{key}{i}";
    string TypeToUserType(string s)
    {
        if (s == "UserStory") return "User Story";
        return s;
    }
}

<input type="hidden" id="childOptions" data-value="@Html.Raw(string.Join("", Model.ChildTasks.Select(x => Html.Encode($"<option value=\"{x.Value}\">{x.Text}</option>"))))" />
<input type="hidden" id="documentOptions" data-value="@Html.Raw(string.Join("", Model.Documents.Select(x => Html.Encode($"<option value=\"{x.Value}\">{x.Text}</option>"))))" />

<h2>Create @TypeToUserType(Model.Type) - @Model.Project.Text</h2><hr />
<div class="row">
    <div class="col-xs-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(x => x.Project.Id)
            @Html.HiddenFor(x => x.Project.Text)
            <input asp-for="Type" class="form-control" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            @if (Model.Type != "Epic")
            {
                <div class="form-group">
                    <label asp-for="ParentTaskId" class="control-label"></label>
                    <select asp-for="ParentTaskId" asp-items="Model.ParentTasks" class="form-control"></select>
                    <span asp-validation-for="ParentTaskId" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="StoryPoints" class="control-label"></label>
                <input asp-for="StoryPoints" class="form-control" />
                <span asp-validation-for="StoryPoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @if (Model.Type != "Epic" && Model.Type != "Task")
            {
                <h5><b>Steps</b></h5>
                <div class="form-group">
                    <table class="table" id="stepTable">
                        <thead>
                            <tr id="tableHeader">
                                <th class="actionButton">Step</th>
                                <th colspan="3"><button class="btn btn-default" name="add"><span class="glyphicon glyphicon-plus"></span></button></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var step in Model.Steps)
                            {
                                <tr>
                                    <td><input name="Steps[]" class="form-control" value="@step" /></td>
                                    <td><button class="btn btn-default" name="up"><span class="glyphicon glyphicon-arrow-up"></span></button></td>
                                    <td><button class="btn btn-default" name="down"><span class="glyphicon glyphicon-arrow-down"></span></button></td>
                                    <td><button class="btn btn-default" name="del" onclick="remove_row(this)"><span class="glyphicon glyphicon-remove"></span></button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @Html.ValidationMessage("Steps", htmlAttributes: new { @class = "text-danger" })
                </div>
            }
            @if (Model.Type != "Defect" && Model.Type != "Task")
            {
                <h5><b>Linked tasks</b></h5>
                <div class="form-group">
                    <table class="table" id="linkedTaskTable">
                        <thead>
                            <tr id="tableHeader">
                                <th>Task</th>
                                <th class="actionColumn"><button class="btn btn-default" name="add"><span class="glyphicon glyphicon-plus"></span></button></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < Model.ChildTaskIds.Count; ++i)
                            {
                                <tr>
                                    <td><select asp-for="ChildTaskIds[@i]" name="ChildTaskIds[]" id="@ToId("cti", i)" asp-items="Model.ChildTasks" class="form-control"></select></td>
                                    <td><button class="btn btn-default" name="del" onclick="remove_row(this)"><span class="glyphicon glyphicon-remove"></span></button></td>
                                </tr>
                            }
                        </tbody>

                    </table>
                    @Html.ValidationMessage("Link", htmlAttributes: new { @class = "text-danger" })
                </div>
            }
            <h5><b>Documents</b></h5>
            <div class="form-group">
                <table class="table" id="documentTable">
                    <thead>
                        <tr>
                            <th>Document</th>
                            <th class="actionColumn"><button class="btn btn-default" name="add"><span class="glyphicon glyphicon-plus"></span></button></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.SelectedDocumentIds.Count; ++i)
                        {
                            <tr>
                                <td><select asp-for="SelectedDocumentIds[@i]" name="SelectedDocumentIds[]" id="@ToId("doc", i)" asp-items="Model.Documents" class="form-control"></select></td>
                                <td><button class="btn btn-default" name="del" onclick="remove_row(this)"><span class="glyphicon glyphicon-remove"></span></button></td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.ValidationMessage("Documents", htmlAttributes: new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    @for (var i = 0; i < Model.ChildTaskIds.Count; ++i)
    {
        @:document.getElementById("@ToId("cti", i)").value = "@Model.ChildTaskIds[i]";
    }
    @for (var i = 0; i < Model.SelectedDocumentIds.Count(); ++i)
    {
        @: document.getElementById("@ToId("doc", i)").value = "@Model.SelectedDocumentIds[i]";
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
