@using System.Security.Claims
@using System.Security.Cryptography.X509Certificates
@model Scrummy.Application.Web.MVC.ViewModels.WorkTask.ViewWorkTaskViewModel

@{
    var id = User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.NameIdentifier)?.Value;
    var name = User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Name)?.Value;
    ViewData["Title"] = Model.Name;
    string TypeToUserType(string s)
    {
        if (s == "UserStory") return "User Story";
        return s;
    }
    string TypeToActionType(string s)
    {
        if (s == "UserStory") return "Story";
        return s;
    }
}

<input type="hidden" id="deleteMessage" data-value="Are you sure you want to delete @Model.Name?" />
<input type="hidden" id="deleteUrl" data-value="/WorkTask/Delete/@Model.Id" />

<div class="row">
    <div class="col-xs-2">
        @if (Model.CanEdit)
        {
            <h2>Actions</h2> <hr />
            <a asp-action="Edit" class="btn btn-default actionButton" asp-route-id="@Model.Id">Edit</a>
        }
        <h3>Create</h3> <hr />
        @if (Model.Type == "Defect" || Model.Type == "Task")
        {
            <a asp-action="Create" class="btn btn-default actionButton" asp-route-id="@Model.Project.Id" asp-route-type="UserStory" asp-route-child="@Model.Id" asp-route-parent="">Create parent Story</a>
        }
        else if (Model.Type == "UserStory")
        {
            <a asp-action="Create" class="btn btn-default actionButton" asp-route-id="@Model.Project.Id" asp-route-type="Epic" asp-route-child="@Model.Id" asp-route-parent="">Create parent Epic</a>
            if (Model.CanEdit)
            {
                <a asp-action="Create" class="btn btn-default actionButton" asp-route-id="@Model.Project.Id" asp-route-type="Task" asp-route-parent="@Model.Id" asp-route-child="">Create linked Task</a>
                <a asp-action="Create" class="btn btn-default actionButton" asp-route-id="@Model.Project.Id" asp-route-type="Defect" asp-route-parent="@Model.Id" asp-route-child="">Create linked Defect</a>
            }
        }
        else if (Model.CanEdit)
        {
            <a asp-action="Create" class="btn btn-default actionButton" asp-route-id="@Model.Project.Id" asp-route-type="UserStory" asp-route-child="" asp-route-parent="@Model.Id">Create linked Story</a>
        }

        @if (Model.ParentTask != null && Model.CanEdit && Model.CanEditParent)
        {
            <a asp-action="Create" class="btn btn-default actionButton" asp-route-id="@Model.Project.Id" asp-route-type="@Model.Type" asp-route-child="" asp-route-parent="@Model.ParentTask.Id">Create related @TypeToActionType(Model.Type)</a>
            if (Model.Type == "Defect")
            {
                <a asp-action="Create" class="btn btn-default actionButton" asp-route-id="@Model.Project.Id" asp-route-type="Task" asp-route-child="" asp-route-parent="@Model.ParentTask.Id">Create related Task</a>
            }
            else if (Model.Type == "Task")
            {
                <a asp-action="Create" class="btn btn-default actionButton" asp-route-id="@Model.Project.Id" asp-route-type="Defect" asp-route-parent="@Model.ParentTask.Id" asp-route-child="">Create related Defect</a>
            }
        }
        <a asp-action="Create" class="btn btn-default actionButton" asp-route-id="@Model.Project.Id" asp-route-type="@Model.Type">Create @TypeToActionType(Model.Type)</a>
        @if (Model.CanDelete)
        {
            <h3>Delete</h3> <hr />
            <button type="button" class="btn btn-danger actionButton" id="deleteBtn">Delete</button>
        }
    </div>
    <div class="col-xs-10">
        <h2>@TypeToUserType(Model.Type) - @Model.Name</h2> <hr />
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Project)
                </dt>
                <dd>
                    <a asp-action="Index" asp-controller="Project" asp-route-id="@Model.Project.Id">@Model.Project.Text</a>
                </dd>
                @if (Model.Type != "Epic")
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.ParentTask)
                    </dt>
                    <dd>
                        @if (Model.ParentTask != null)
                        {
                            <a asp-action="Index" asp-route-id="@Model.ParentTask.Id">@Model.ParentTask.Text</a>
                        }
                    </dd>
                }
                <dt>
                    @Html.DisplayNameFor(model => model.StoryPoints)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.StoryPoints)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>
            </dl>
            @if (Model.Type != "Epic" && Model.Type != "Task")
            {
                <h5><b>Steps</b></h5>
                <table class="table">
                    <thead>
                        <tr id="tableHeader">
                            <th>Step</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var p in Model.Steps)
                        {
                            <tr>
                                <td>@p</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            @if (Model.Type != "Defect" && Model.Type != "Task")
            {
                <h5><b>Linked tasks</b></h5>
                <table class="table">
                    <thead>
                        <tr id="tableHeader">
                            <th>Task</th>
                            <th class="actionColumn"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var p in Model.ChildTasks)
                        {
                            <tr>
                                <td>@p.Text</td>
                                <td>
                                    <a asp-area="" class="btn btn-default tableButton" asp-action="Index" asp-route-id="@p.Id">View</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            <h5><b>Comments</b></h5>
            <table class="table">
                <thead>
                <tr>
                    <th>Author</th>
                    <th></th>
                    <th class="actionColumn" colspan="2"></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var c in Model.Comments)
                {
                    <tr>
                        <td>
                            <a asp-action="Index" asp-controller="Person" asp-route-id="@c.Author.Id">@c.Author.Text</a>
                        </td>
                        <td></td>
                        @if (id == c.Author.Id)
                        {
                            <td>
                                <a class="btn btn-default tableButton" asp-action="EditComment" asp-route-id="@Model.Id" asp-route-cid="@c.Id">Edit</a>
                            </td>
                            <td>
                                <a class="btn btn-danger tableButton" asp-action="DeleteComment" asp-route-id="@Model.Id" asp-route-cid="@c.Id">Delete</a>
                            </td>
                        }
                        else
                        {
                            <td colspan="2"></td>
                        }
                    </tr>
                    <tr>
                        <td colspan="4">
                            <textarea class="form-control" readonly>@c.Content</textarea>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            <h3>Add comment</h3><hr />
            <form asp-action="AddComment">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="WorkTask.Id" value="@Model.Id"/>
                <input type="hidden" name="WorkTask.Name" value="@Model.Name"/>
                <div class="form-group">
                    <textarea class="form-control" name="Content"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
</div>