@model Scrummy.Application.Web.MVC.ViewModels.Team.EditTeamViewModel

@{
    ViewData["Title"] = Model.Name;

    string ToId(string key, int i) => $"{key}{i}";
}

<input type="hidden" id="roleOptions" data-value="@Html.Raw(string.Join("", Model.Roles.Select(x => Html.Encode($"<option value=\"{x.Value}\">{x.Text}</option>"))))" />
<input type="hidden" id="personOptions" data-value="@Html.Raw(string.Join("", Model.Persons.Select(x => Html.Encode($"<option value=\"{x.Value}\">{x.Text}</option>"))))" />


<div class="row">
    <div class="col-xs-2">
        <h2>Actions</h2> <hr />
        <a asp-action="Index" class="btn btn-default actionButton" asp-route-id="@Model.Id">Cancel</a>
    </div>
    <div class="col-xs-10">
        <h2>Edit team - @Model.Name</h2><hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" type="hidden" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeOfDailyScrum" class="control-label"></label>
                <input asp-for="TimeOfDailyScrum" class="form-control" />
                <span asp-validation-for="TimeOfDailyScrum" class="text-danger"></span>
            </div>
            <h5><b>Members</b></h5>
            <div class="form-group">
                <table class="table" id="memberTable">
                    <thead>
                        <tr id="tableHeader">
                            <th>Member</th>
                            <th>Role</th>
                            <th class="actionColumn"><button class="btn btn-default" name="add"><span class="glyphicon glyphicon-plus"></span></button></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.SelectedMemberIds.Count; ++i)
                        {
                            <tr>
                                <td><select asp-for="SelectedMemberIds[@i]" name="SelectedMemberIds[]" id="@ToId("smi", i)" asp-items="Model.Persons" class="form-control"></select></td>
                                <td><select asp-for="SelectedRoles[@i]" name="SelectedRoles[]" id="@ToId("sr", i)" asp-items="Model.Roles" class="form-control"></select></td>
                                <td><button class="btn btn-default" name="del" onclick="remove_row(this)"><span class="glyphicon glyphicon-remove"></span></button></td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.ValidationMessage("Members", htmlAttributes: new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    @for (var i = 0; i < Model.SelectedMemberIds.Count; ++i)
    {
        @:document.getElementById("@ToId("smi", i)").value = "@Model.SelectedMemberIds[i]";
        @:document.getElementById("@ToId("sr", i)").value = "@Model.SelectedRoles[i]";
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
