@model Scrummy.Application.Web.MVC.ViewModels.Team.ViewTeamViewModel

@{
    ViewData["Title"] = @Model.Name;
}

<input type="hidden" id="deleteMessage" data-value="Are you sure you want to delete @Model.Name?" />
<input type="hidden" id="deleteUrl" data-value="/Team/Delete/@Model.Id" />

<div class="row">
    <div class="col-xs-2">
        <h2>Actions</h2> <hr />
        <a asp-action="Edit" class="btn btn-default actionButton" asp-route-id="@Model.Id">Edit</a>
        <a asp-action="Members" class="btn btn-default actionButton" asp-route-id="@Model.Id">Member history</a>
        <a asp-action="Projects" class="btn btn-default actionButton" asp-route-id="@Model.Id">Project history</a>
        @if (Model.CanDelete)
        {
            <h3>Delete</h3> <hr />
            <button type="button" class="btn btn-danger actionButton" id="deleteBtn">Delete</button>
        }
    </div>
    <div class="col-xs-10">
        <h2>Team - @Model.Name</h2> <hr />
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.TimeOfDailyScrum)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.TimeOfDailyScrum)
                </dd>
            </dl>
            <h5><b>Members</b></h5>
            <table class="table">
                <thead>
                    <tr>
                        <th>Member</th>
                        <th>Role</th>
                        <th class="actionColumn"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var m in Model.Members)
                    {
                        <tr>
                            <td>@m.Text</td>
                            <td>@m.Role</td>
                            <td>
                                <a asp-area="" class="btn btn-default tableButton" asp-action="Index" asp-controller="Person" asp-route-id="@m.Id">View</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <h5><b>Projects</b></h5>
            <table class="table">
                <thead>
                    <tr>
                        <th>Project</th>
                        <th class="actionColumn"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var p in Model.CurrentProjects)
                    {
                        <tr>
                            <td>@p.Text</td>
                            <td>
                                <a asp-area="" class="btn btn-default tableButton" asp-action="Index" asp-controller="Project" asp-route-id="@p.Id">View</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>