@model Scrummy.Application.Web.MVC.ViewModels.Team.ViewMemberHistoryViewModel

@{
    ViewData["Title"] = "Member history";
}

<div class="row">
    <div class="col-xs-2">
        <h2>Actions</h2> <hr />
        <a asp-action="Index" class="btn btn-default actionButton" asp-route-id="@Model.Team.Id">Team</a>
    </div>
    <div class="col-xs-10">
        <h2>Member history of - @Model.Team.Text</h2><hr />
        <table class="table">
            <thead>
                <tr id="tableHeader">
                    <th>Time</th>
                    <th>Member</th>
                    <th>Role</th>
                    <th class="actionColumn"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var r in Model.Members)
                {
                    <tr>
                        @if (r.To != "9999-12-31")
                        {
                            <td>@r.From - @r.To</td>
                        }
                        else
                        {
                            <td>@r.From - Currently</td>
                        }
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    foreach (var m in r.Members)
                    {
                        <tr>
                            <td></td>
                            <td>@m.Text</td>
                            <td>@m.Role</td>
                            <td><a asp-action="Index" class="btn btn-default" asp-controller="Person" asp-route-id="@m.Id"><span class="glyphicon glyphicon-option-horizontal"></span></a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>