@model Scrummy.Application.Web.MVC.ViewModels.Meeting.CreateMeetingViewModel

@{
    ViewData["Title"] = "Create";
    string ToId(string key, int i) => $"{key}{i}";
}

<input type="hidden" id="personOptions" data-value="@Html.Raw(string.Join("", Model.Persons.Select(x => Html.Encode($"<option value=\"{x.Value}\">{x.Text}</option>"))))" />

<h2>Create meeting - @Model.Project.Text</h2><hr />
<div class="row">
    <div class="col-xs-10">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(x => x.OrganizedBy.Id)
            @Html.HiddenFor(x => x.OrganizedBy.Text)
            @Html.HiddenFor(x => x.Project.Id)
            @Html.HiddenFor(x => x.Project.Text)
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <h5>Persons</h5>
            <div class="form-group">
                <table class="table" id="personTable">
                    <tr id="tableHeader">
                        <th>Person</th>
                        <th class="actionColumn"><button class="btn btn-default tableButton" name="add">Add</button></th>
                    </tr>
                    @for (var i = 0; i < Model.SelectedPersonIds.Count; ++i)
                    {
                        <tr>
                            <td><select asp-for="SelectedPersonIds[@i]" name="SelectedPersonIds[]" id="@ToId("ipi", i)" asp-items="Model.Persons" class="form-control"></select></td>
                            <td><button class="btn btn-default tableButton" name="del" onclick="remove_row(this)">Delete</button></td>
                        </tr>
                    }
                </table>
                @Html.ValidationMessage("InvolvedPersons", htmlAttributes: new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    @for (var i = 0; i < Model.SelectedPersonIds.Count; ++i)
    {
        @:document.getElementById("@ToId("ipi", i)").value = "@Model.SelectedPersonIds[i]";
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
