@model Scrummy.Application.Web.MVC.ViewModels.Meeting.ViewMeetingViewModel

@{
    ViewData["Title"] = Model.Name;
}

<input type="hidden" id="deleteMessage" data-value="Are you sure you want to delete @Model.Name?" />
<input type="hidden" id="deleteUrl" data-value="/Meeting/Delete/@Model.Id" />

<div class="row">
    <div class="col-xs-2">
        <h2>Actions</h2> <hr />
        <a asp-action="Edit" class="btn btn-default actionButton" asp-route-id="@Model.Id">Edit</a>
        @if (Model.CanDelete)
        {
            <h3>Delete</h3> <hr />
            <button type="button" class="btn btn-danger actionButton" id="deleteBtn">Delete</button>
        }
    </div>
    <div class="col-xs-10">
        <h2>Meeting - @Model.Name</h2> <hr />
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Time)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Time)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Duration)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Duration)
                </dd>
                <dt>
                    @Html.DisplayNameFor(m => m.Project)
                </dt>
                <dd>
                    <a asp-action="Index" asp-controller="Project" asp-route-id="@Model.Project.Id">@Model.Project.Text</a>
                </dd>
                <dt>
                    @Html.DisplayNameFor(m => m.OrganizedBy)
                </dt>
                <dd>
                    <a asp-action="Index" asp-controller="Person" asp-route-id="@Model.OrganizedBy.Id">@Model.OrganizedBy.Text</a>
                </dd>
            </dl>
            <h5><b>Description</b></h5>
            <textarea class="form-control" readonly>@Model.Description</textarea>
            <h5><b>Persons</b></h5>
            <table class="table" id="personTable">
                <thead>
                    <tr id="tableHeader">
                        <th>Person</th>
                        <th class="actionColumn"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var p in Model.InvolvedPersons)
                    {
                        <tr>
                            <td>@p.Text</td>
                            <td>
                                <a asp-area="" class="btn btn-default" asp-action="Index" asp-controller="Person" asp-route-id="@p.Id"><span class="glyphicon glyphicon-option-horizontal"></span></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <h5><b>Documents</b></h5>
            <table class="table">
                <thead>
                    <tr>
                        <th>Document</th>
                        <th class="actionColumn" colspan="2"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var p in Model.Documents)
                    {
                        <tr>
                            <td>@p.Text</td>
                            <td>
                                <a asp-area="" class="btn btn-default" asp-action="Edit" asp-controller="Document" asp-route-id="@p.Id"><span class="glyphicon glyphicon-edit"></span></a>
                            </td>
                            <td>
                                <a asp-area="" class="btn btn-default" asp-action="Index" asp-controller="Document" asp-route-id="@p.Id"><span class="glyphicon glyphicon-option-horizontal"></span></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <h5><b>Log</b></h5>
            <textarea class="form-control" readonly>@Model.Log</textarea>
        </div>
    </div>
</div>